@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$orange: #fd9872;
$dark-green: #15573f;
$light-green: #75bc97;
$bg-light-color: #ffffff;
$bg-default-color: #f2f2f2;

$menu-font-color: #848484;
$gray-font-color: #a9a9a9;
$dark-font-color: #0c261c;
$green-font-color: #1e6b4e;

$border-color: #ababab;

$desktop-small-screen: 900px;
$mobile-large-screen: 600px;

html {
  scroll-behavior: smooth;
}

body {
  // reset css
  margin: 0;
  padding: 0;
  border: 0;

  // default
  font-family: 'Montserrat', sans-serif;
  background-color: $bg-default-color;
}

.body-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 850px;
}

@media only screen and (max-width: $desktop-small-screen) {
  .body-container {
    max-width: 550px;
  }
}
