@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// variables
$default-width-desktop: 1500px;

$orange: #fd9872;
$dark-green: #15573f;
$light-green: #75bc97;
$bg-light-color: #ffffff;
$bg-default-color: #f2f2f2;
$menu-font-color: #848484;

body {
  // reset css
  margin: 0;
  padding: 0;
  border: 0;

  // default
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: $default-width-desktop;
}
