header {
  background-color: $dark-green;
}

#header-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  max-width: 1500px;

  background-color: $light-green;
}

.figure {
  height: 450px;
}

.leaves {
  z-index: 5;
}

#left-leaves {
  width: 62%;
}

#person {
  position: absolute;
  right: 21.33%;
  width: 300px;
  height: auto;
}

#right-leaves {
  width: 25%;
}

#header-text-container {
  width: 100%;
  position: absolute;
  z-index: 10;
}

#header-text {
  margin: 0 auto;
  width: 850px;
  flex-direction: column;

  color: $bg-light-color;

  h1 {
    width: 500px;
    margin: 10px 0 20px;

    font-size: 70px;
    font-weight: 700;
  }
}

#header-arrow-down {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 1500px) {
  #left-leaves {
    width: 60%;
    height: 300px;
  }

  #person {
    right: 25%;
    width: 200px;
  }

  #right-leaves {
    height: 300px;
  }

  #header-text {
    width: 350px;

    h1 {
      margin: 10px 0 20px;

      font-size: 50px;
      font-weight: 700;
    }
  }

  #header-arrow-down {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: $desktop-small-screen) {
}

@media only screen and (max-width: $mobile-large-screen) {
}
