$header-default-height: 550px;

header {
  background-color: $dark-green;
}

#header-container {
  margin: auto;
  max-width: $desktop-large-screen;
  height: $header-default-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $light-green;
}

.header-layer {
  position: absolute;
  max-width: 100%;
  width: $desktop-large-screen;
  height: $header-default-height;

  display: flex;
  justify-content: center;
  align-items: center;
}
.leaves {
  justify-content: space-between;
}

#header-bg-image,
#header-text {
  width: $desktop-small-screen;
}

#header-bg-image {
  text-align: right;
  margin-right: -15px;

  img {
    width: 350px;
    height: auto;
  }
}

.figure {
  height: $header-default-height;
}

#left-leaves {
  width: 60%;
}

#right-leaves {
  width: 25%;
}

#header-text {
  color: $bg-light-color;
  text-align: left;

  h1 {
    width: 500px;
    margin: 40px 0 50px;

    font-size: 70px;
    font-weight: 700;
  }
}

#header-arrow-down {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 1400px) {
  #header-bg-image {
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 1000px) {
  #header-container,
  .header-layer,
  .figure {
    height: 300px;
  }

  #header-bg-image {
    margin-right: 21vw;

    img {
      width: 215px;
    }
  }

  #header-text {
    h1 {
      width: 400px;
      font-size: 40px;
      margin: 20px 0 40px;
    }
  }

  #header-arrow-down {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: $tablet-screen) {
  #header-text {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 700px) {
  #right-leaves {
    width: 20%;
  }

  #header-bg-image {
    margin-right: 10vw;
  }

  #header-text {
    h1 {
      width: 350px;
      font-size: 35px;
      margin: 20px 0 40px;
    }
  }
}

@media only screen and (max-width: $mobile-screen) {
}
