header {
  background-color: $dark-green;
}

#header-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  max-width: 1500px;

  background-color: $light-green;
}

.figure {
  height: 450px;
}

.leaves {
  z-index: 5;
}

#left-leaves {
  width: 62%;
}

#person {
  position: absolute;
  right: 320px;
  width: 300px;
  height: auto;
}

#right-leaves {
  width: 25%;
}

#header-text {
  width: 100%;
  flex-direction: column;

  position: absolute;
  left: 325px;
  z-index: 10;

  width: 500px;
  color: $bg-light-color;

  h1 {
    margin: 10px 0 20px;

    font-size: 70px;
    font-weight: 700;
  }
}

#header-arrow-down {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: $desktop-small-screen) {
}

@media only screen and (max-width: $mobile-large-screen) {
}
