@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// variables
$orange: #fd9872;
$dark-green: #15573f;
$light-green: #75bc97;
$bg-light-color: #ffffff;
$bg-default-color: #f2f2f2;

body {
  // reset css
  margin: 0;
  padding: 0;
  border: 0;

  // default
  font-family: 'Montserrat', sans-serif;
  background-color: $bg-default-color;
}

header {
  background-color: $dark-green;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1500px;
}

.header-container {
  position: relative;
  align-items: center;
  background-color: $light-green;

  .figure {
    height: 520px;
    object-fit: cover;
  }

  .leaves {
    z-index: 5;
  }

  .person {
    position: absolute;
    left: 830px;
    height: 450px;
  }
}

#menu {
  background-color: $bg-light-color;
}
