#menu {
  padding: 50px 0;
  background-color: $bg-light-color;
}

#menu-container {
  justify-content: space-evenly;
}

.menu-icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  width: 75px;
  height: 75px;

  .menu-icon {
    width: 100%;
  }
}

.menu-description {
  font-size: 14px;
  color: $menu-font-color;
}

.menu-select {
  outline: none;
  margin: 25px 0;
  padding: 10px 15px;

  display: block;
  width: 100%;

  color: $border-color;
  border: 1px solid $border-color;
  border-radius: 25px;
}
