.empty-results-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;

  .left-text {
    h1 {
      font-size: 45px;
      font-weight: 700;
      color: $gray-font-color;
    }

    p {
      width: 50%;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: $gray-font-color;
    }
  }

  .right-icon {
    width: 50%;
    text-align: center;
  }
}

.search-results-container {
  display: block;
  padding: 40px 0;

  .search-results-header {
    img {
      width: 150px;
    }

    h1 {
      margin: 10px 0;
      font-size: 55px;
      font-weight: 700;
      color: $dark-font-color;
    }
  }

  #search-results-grid {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .search-result-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 60px 0 0;
    width: 100%;
    height: 50px;

    color: $dark-green;
    border: 1.5px solid $dark-green;
    border-radius: 25px;

    cursor: pointer;

    * {
      margin-left: 10px;
      margin-right: 10px;
    }

    img {
      width: 25px;
      height: 30px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }

    text-decoration: none;
  }
}

@media only screen and (max-width: $desktop-small-screen) {
  .search-results-container {
    #search-results-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .empty-results-container {
      padding: 40px 0;

      .left-text {
        h1 {
          font-size: 35px;
          font-weight: 700;
          color: $gray-font-color;
        }

        p {
          width: 55%;
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          color: $gray-font-color;
        }
      }

      .right-icon {
        text-align: center;

        img {
          width: 80px;
        }
      }
    }
  }
}
