<div id="generic-id" class="card-container staff-favorite-result">
  <div class="card-image-container">
    <img #generic-image alt="generic-alt-image" />
  </div>
  <div class="card-container-footer">
    <p class="staff-favorite-name">generic-name</p>

    <div class="card-footer-icons">
      <p class="staff-favorite-price">generic-price</p>

      <div class="card-icons">
        <img src="../assets/images/icons/pet.svg" alt="pet" />
        <img src="../assets/images/icons/toxic.svg" alt="toxic" />

        <img src="../assets/images/icons/sun.svg" alt="sun" />
        <img src="../assets/images/icons/low-sun.svg" alt="low-sun" />
        <img src="../assets/images/icons/no-sun.svg" alt="no-sun" />

        <img src="../assets/images/icons/1-drop.svg" alt="1-drop.svg" />
        <img src="../assets/images/icons/2-drops.svg" alt="2-drops.svg" />
        <img src="../assets/images/icons/3-drops.svg" alt="3-drops.svg" />
      </div>
    </div>
  </div>
</div>
