<div id="header-container">
  <img class="figure leaves" id="left-leaves" src="../assets/images/hero/desktop/left-leaves.png" alt="left-leaves" />
  <img class="figure" id="person" src="../assets/images/hero/desktop/plantperson.png" alt="plant-person" />
  <img
    class="figure leaves"
    id="right-leaves"
    src="../assets/images/hero/desktop/right-leaves.png"
    alt="right-leaves"
  />
  <div id="header-text-container">
    <div id="header-text">
      <img id="header-logo" src="../assets/images/icons/logo-green-thumb.svg" alt="logo green thumb" />
      <h1>Find your next green friend</h1>
      <img id="header-arrow-down" src="../assets/images/icons/arrow-down.svg" alt="arrow down" />
    </div>
  </div>
</div>
