<form name="menu" class="body-container" id="menu-form">
  <div class="menu-item">
    <div class="menu-label">
      <div class="menu-icon-container">
        <img class="menu-icon" src="../assets/images/illustrations/sun.png" alt="sun icon" />
      </div>
      <label class="menu-description">
        <strong>1.</strong> Set the amount of <strong>sunlight</strong> your plant will get
      </label>
    </div>
    <div class="menu-select-container">
      <div class="down-arrow"></div>
      <select name="sun" id="sun-select" class="menu-select"></select>
    </div>
  </div>

  <div class="menu-item">
    <div class="menu-label">
      <div class="menu-icon-container">
        <img class="menu-icon" src="../assets/images/illustrations/wateringcan.png" alt="sun icon" />
      </div>
      <label class="menu-description">
        <strong>2.</strong> How often do you want to <strong>water</strong> your plant?
      </label>
    </div>

    <div class="menu-select-container">
      <div class="down-arrow"></div>
      <select name="water" id="water-select" class="menu-select"></select>
    </div>
  </div>

  <div class="menu-item">
    <div class="menu-label">
      <div class="menu-icon-container">
        <img class="menu-icon" src="../assets/images/illustrations/dog.png" alt="sun icon" />
      </div>
      <label class="menu-description">
        <strong>3.</strong> Do you have pets? Do they <strong>chew</strong> plants?
      </label>
    </div>

    <div class="menu-select-container">
      <div class="down-arrow"></div>
      <select name="pets" id="pets-select" class="menu-select"></select>
    </div>
  </div>
</form>
